<div class="title-bug">
    <h1> Motion <br />&#8239; Design </h1>
</div>
<div class="bug-text">
    <div class="debug-align"><span> Demain à <span class="bug-heure">15h30</span> </span> </div>
</div>
<script>
    $( document ).ready(function() {
        $(".title-bug").delay(4000).animate({right:"-695px"},1800)
                .delay(5000).animate({right:"295px"},1800)
                .delay(5000).animate({right:"-695px"},1800);

        $(".bug-text").delay(4000).animate({right:"-1077px"}, 1800)
                .delay(6000).animate({right:"-27px"}, 1500)
                .delay(4000).animate({right:"-1077px"}, 1500);
    });
</script>