<div class="title-bug">
    <h1> Motion <br />&#8239; Design </h1>
</div>
<div class="bug-text">
    <div class="debug-align"><span> Demain à <span class="bug-heure">15h30</span> </span> </div>
</div>