<div class="container-groupe">
    <span class="cell-groupe"> MMI2 </span>
</div>
<div class="edt" id="hide-bottom">
    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> A </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> B </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> C </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> D </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> E </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> F </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> G </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>

    <div class="bloc-top">
        <div class="bloc-groupe">
            <p> H </p>
        </div>
        <p class="matiere">M42C4</p>
        <p class="prof">Fauchet <br /> H104 </p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#hide-bottom").delay(500).slideToggle(3000)
                .delay(20000).slideToggle(3000)
                .delay(500).slideToggle(3000);
    });

    $(document).ready(function(){
        $(".container-groupe").delay(500).slideToggle(3000)
                .delay(20000).slideToggle(3000)
                .delay(500).slideToggle(3000);
    });


</script>