<div class="annonce">
    <h1 id="titre"></h1>
    <p id="contenu"></p>
</div>
<script>

    /*$( document ).ready(function() {
        var infos = [];
        var i = 0;
        var j =0;
        $.ajax({
            url: '{{ path("mmitv_ifaceTV_info") }}',
            dataType: 'json',
            async: false,
            success: function(info){
                infos.push(info)
            }
        });
        /*console.log(infos);
        console.log(infos[0].length);
        infos.length pour longueur du tableau*/
/*
        setInterval(function(){
             document.getElementById('titre').innerHTML = infos[0][j]['infosType'];
             document.getElementById('contenu').innerHTML = infos[0][j]['infosContenu'];
             //console.log(infos[0][j]['id']);
             j++;
             $(".annonce").delay(1500).animate({left: "-200px"}, 1500)
                     .delay(2500).animate({left: "-1500px"}, 1500);

            if(j == infos[0].length){
                j = 0;
            }
        },
        7000);

    });*/

</script>