{% trans_default_domain 'FOSUserBundle' %}
<div class="box span7">
    <div class="box-header">
        <h2><i class="icon-list-alt"></i><span class="break"></span>Modifier mon profil</h2>
    </div>
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal" style="margin: 25px ;">
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>
            <br/>
            <div class="button-login">
                <input type="submit" class="btn btn-warning" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </form>
</div>