{% extends "mmitvBackBundle::layoutdashboard.html.twig" %}

{% block body %}

<div id="content" class="span10">

        {% block breadcrumb %}
            {{ parent() }}
            <li><a href="#">Mon Profil</a></li>
            <i class="icon-angle-right"></i>
            <li><a href="#">Modifier mon profil</a></li>
            </ul>
        {% endblock %}
    <div class="row-fluid">
        {% block fos_user_content %}
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
</div>

{% endblock %}